<NetworkConfig networkName="{{org_nw_name}}">
<Configuration>
<ParentNetwork href="https://test-portal.vmware.onecloud.tieto.com/api/admin/network/{{org_nw_id}}"/>
<FenceMode>bridged</FenceMode>
</Configuration>
</NetworkConfig>
</NetworkConfigSection>