<OrgVdcNetwork name="{{name}}"xmlns="http://www.vmware.com/vcloud/v1.5">
<Description>{{Description}}</Description>
<Configuration>
<IpScopes>
<IpScope>
<IsInherited>false</IsInherited>
<Gateway>{{Gateway}}</Gateway>
<Netmask>{{Netmask}}</Netmask>
<IpRanges>
<IpRange>
<StartAddress>{{StartAddress}}</StartAddress>
<EndAddress>{{EndAddress}}</EndAddress>
</IpRange>
</IpRanges>
</IpScope>
</IpScopes>
<FenceMode>natRouted</FenceMode>
</Configuration>
<EdgeGateway href="https://test-portal.vmware.onecloud.tieto.com/api/admin/edgeGateway/{{edge}}" />
<IsShared>true</IsShared>
</OrgVdcNetwork>
